In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/pauli/Downloads/base_datos_2008.csv")

In [3]:
np.random.seed(0)
df=df[df["Origin"].isin(["HOU","ATL","IND"])]
# crea un nuevo df con los origenes indicados.
df=df.sample(frac=1)
# reordena la base de datos
df=df[0:10000]
# seleccionados filas de 1 a 10000

In [4]:
df["BigDelay"] = df["ArrDelay"] > 30
# crear una nueva variable  (o Columna) BigDelay, que sera TRUE si ArrDelay es mayor que 30 y FALSE si ArrDelay es menor que 30
observados = pd.crosstab(index=df["BigDelay"], columns=df["Origin"], margins=True)

In [6]:
observados
# Generar table de contingencia

Origin     ATL   HOU  IND    All
BigDelay
False     6927   883  765   8575
True      1197   129   99   1425
All       8124  1012  864  10000

In [7]:
# importar paquete para realizar test chi-cuadrado
from scipy.stats import chi2_contingency

In [8]:
test = chi2_contingency(observados)

In [9]:
test
# Tabla de valores esperados. (Estadistico, d valor, tabla de valores esperados)

(8.939538453043031,
 0.17700704816414425,
 6,
 array([[ 6966.33,   867.79,   740.88,  8575.  ],
        [ 1157.67,   144.21,   123.12,  1425.  ],
        [ 8124.  ,  1012.  ,   864.  , 10000.  ]]))

In [28]:
esperados = pd.DataFrame(test[3])

In [29]:
esperados

         0        1       2        3
0  6966.33   867.79  740.88   8575.0
1  1157.67   144.21  123.12   1425.0
2  8124.00  1012.00  864.00  10000.0

In [30]:
esperados_rel =round(esperados.apply(lambda r: r/len(df)*100, axis=1),2)

In [31]:
observados_rel=round(observados.apply(lambda r : r/len(df)*100, axis=1),2)

In [32]:
observados_rel

Origin      ATL    HOU   IND     All
BigDelay
False     69.27   8.83  7.65   85.75
True      11.97   1.29  0.99   14.25
All       81.24  10.12  8.64  100.00

In [33]:
esperados_rel

       0      1     2       3
0  69.66   8.68  7.41   85.75
1  11.58   1.44  1.23   14.25
2  81.24  10.12  8.64  100.00

In [36]:
test[1]
# Valor p ≤ 0.05: Las variables tienen una asociación estadísticamente significativa (Rechazar H0)
# Si el valor p es menor que o igual al nivel de significancia, usted rechaza la hipótesis nula y concluye 
# que hay una asociación estadísticamente significativa entre las variables.

# Valor p > 0.05: No se puede concluir que las variables están asociadas (No se puede rechazar H0)
# Si el valor p es mayor que el nivel de significancia, usted no puede rechazar la hipótesis nula, 
# porque no hay suficiente evidencia para concluir que las variables están asociadas.

0.17700704816414425

In [ ]:
# dado el valor de p, no se puede cponcluir que las variables están asociadas